<template name='modificarCompra'>

<h1><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> MODIFICAR <small> compra existente</small></h1>
   
  {{#autoForm  collection="Compras" doc=this id="modificarCompra_" type="update"}}
 <div style="" id="formulario">

    <div class='col-md-3'> {{> afQuickField name='razonSocial'}}  </div>
    <div class='col-md-2'>  {{> afQuickField name='fecha'}}  </div>
    <div class='col-md-2'>  {{> afQuickField name='nroFactura'}}  </div>
 <div class='col-md-1'>  {{> afQuickField name='descuentos'}}  </div>
   </div>
  <br><br><br><br><br><br>
<big><b>SOLO SE PUEDEN MODIFICAR LOS DATOS DE LA FACTURA</b></big>   
  <br><br>
  <button type="submit" disabled="{{disableButtons}}" style="width:100%" class="btn btn-primary"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> ACEPTAR</button>
    
 {{/autoForm}}
   

</template>